<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="/static/Login.css">
    <link rel="stylesheet" href="/static/shop.css">

    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" /> -->
    <!-- <link rel="stylesheet" href=   " https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

</head>
<body>
    {% include "Header.html" %}


    <section class="banner13">
        <h2>#KnowUs</h2>
    <p>Save more with coupones & up to 70% OFF!</p>
    

</section>


    
<div class="spro-section ">
    <section id="prodetails" class="section-p1">
        <div class="single-pro-image">
            <img src="/static/img/about/a6.jpg" id="MainImg1" alt="">

        </div>
    </section>

    <section id="prodetails1">
      
        <h4>Who We Are?</h4>
        <p> The Gilden ultra ctton T-shirt is made from a substantial Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Impedit eum ducimus dignissimos accusamus similique voluptas sapiente, expedita
            repellendus amet veritatis iste quasi, ipsam voluptatibus aliquid ipsa nostrum esse sint vitae cumque
            accusantium veniam iure dolorum.</p>
            <abbr title="" class="abbr"> Impedit eum ducimus dignissimos accusamus similique voluptas sapiente, expedita
                repellendus amet veritatis iste quasi</abbr>

                <marquee > Create stunning image with as much as little contact as you like thank to a choice of basic and creative modes

                </marquee>
          </div>  
    </section>


    <section class="aboutapp">
        <h1>Download Oue <a href="#">App</a></h1>
        <div class="video">
            <video autoplay muted loop src="/static/img/about/1.mp4"></video>
        </div>
        
    </section>
</div>


<section class="feature">
    <div class="fbox">
        <img src="/static/img/features/f1.png" alt="">
        <h6>Free Shiping</h6>
    </div>
    
    <div class="fbox">
        <img src="/static/img/features/f2.png" alt="">
        <h6>Online Order</h6>
    </div>
    <div class="fbox">
        <img src="/static/img/features/f3.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fbox">
        <img src="/static/img/features/f5.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fbox">
        <img src="/static/img/features/f6.png" alt="">
        <h6>24/7 Support</h6>
    </div>
    <div class="fbox">
        <img src="/static/img/features/f4.png" alt="">
        <h6>Promotions</h6>
    </div>
    </section>









    
<!-- footer section -->


{% include "Footer.html" %}


    
</body>
</html>