<section class="header">

    <a href="#"><img src="/static/img/logo.png" alt="">
    </a>
    <div>
        <ul id="navbar">
            <li class="{% if request.path == '/' %}active{% endif %}"> <a href="{% url 'home' %}">Home</a></li>
            <li class="{% if request.path == '/shop' %}active{% endif %}"> <a href="{% url 'shop' %}">Shop</a></li>
            <li class="{% if request.path == '/about' %} active {% endif %}"> <a  href="{% url 'about' %}">About</a></li>
            <li class="{% if request.path == '/blog' %} active {% endif %}"><a  href="{% url 'blog' %}">Blog</a></li>
            {% comment %} <li class="{% if request.path == '/userform' %} active {% endif %}"> <a  href="{% url 'userform' %}">Ragistration</a></li> {% endcomment %}

            {% url 'contact' as url %}
            <li class="{% if request.path == url %}active{% endif %}"> <a href="{{url}}">Contact</a></li>


            <li class="{% if request.path == '/sproduct' %} active {% endif %}"><a href="{% url 'sproduct' %}"> <i class="fa fa-light fa-bag-shopping" style="color: #52688e;"></i>
            </a></li>


        </ul>
    </div>
     <!-- <div class="mobile">
        <a href="#"> <i class="fa fa-light fa-bag-shopping" style="color: #52688e;"></i>
            <i id="bar" class="fas fa-outdent"></i> -->

    </div> 
</section>
